*
{
    margin: 0;
    padding: 0;
}
#header
{
    background-color: rgba(166, 76, 93, 0.684);
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:10px;
}
 #menu{
display:flex;
gap:5px;
align-items:center;
}

#menu button{
/* display:flex; */
padding:8px 15px;
/* gap: 5px; */
/* align-items: center; */
border-radius:10px;
}
#askme
{
 
     padding: 3px 6px;
    background-color: rgb(144, 199, 200);
    border:1px solid rgb(127, 66, 66);
    border-radius:5px;
    position:sticky;
    bottom:10px; */
    
}   
